<?xml version="1.0"?>

<menu>
    <category name="pizzas">
        <item name="Tomato &amp; Cheese">
            <price small="5.50" large="9.75">
            </price>
        </item>
        <item name="Onions">
            <price small="6.85" large="10.85">
            </price>
        </item>
        <item name="Fresh Garlic">
            <price small="6.85" large="10.85">
            </price>
        </item>
        <extra name="Extra Cheese">
            <price small="1.25" large="1.85">
            </price>
        </extra>
        <specialty small="9.80" large="15.80">
            <item name="Three Aces Special">
            </item>
            <item name="Mediterranean" ingredients="Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozzarella &amp; Feta Cheese">
            </item>
            <item name="Vegetable" ingredients="Sliced Tomatoes, Onion, Peppers, Mushrooms, Brococoli, Mozzarella">
            </item>
        </specialty>
    </category>
    <category name="specialdinners">
        <item name="Chicken Wing Dinner">
            <price nosize="7.25">
            </price>
        </item>
        <item name="Gyro Plate">
            <price nosize="7.25">
            </price>
        </item>
        <item name="Chicken Kabob Plate With" ingredients="rice, salad &amp; pita bread">
            <price nosize="7.85">
            </price>
        </item>
        <notes>All Dinners served with French Fries and Salad*</notes>
    </category>
    <category name="sideorders">
        <item name="Onion Rings">
            <price small="2.25" large="2.95">
            </price>
        </item>
        <item name="Chicken Wings">
            <price nosize="5.75">
            </price>
        </item>
        <item name="Chicken Fingers">
            <price nosize="5.75">
            </price>
        </item>
    </category>
    <category ="salads">
        <item name="Garden">
            <price small="3.50" large="4.50">
            </price>
        </item>
        <item name="Kabob Salad With" ingredients="grilled Chicken &amp; feta cheese">
            <price small="5.45" large="6.45">
            </price>
        </item>
    </category>
    <category name="Pasta>

        
    



</menu>
